body {
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  background-color: #556272;
}

#centered-table {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #FA9636;
  border-radius: 5px;
  background-color: #F0E68C;
}

.filled {
  padding: 25px;
  border: 2px solid #483D8B;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  background-color: #4682B4;
}

.filled:hover {
  background-color: #4670B4;
}

.unfilled {
  padding: 25px;
}

h1 {
  font-size: 40px;
}
